<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/mainpage.png">
            <p>Get the weather forecast at just one click!</p>
        </div>    
        {{>footer}}
    </body>
</html>